<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bit_planes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>cameraCalibration.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>filter2D_userKernel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>filterGaussian.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>filter_Gabor2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>opencv_examples.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B0BA409719D2BCFC00E73CA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0BA40A719D2C71500E73CA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0BA418D19D2CFCE00E73CA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0BA41AA19D2D42600E73CA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0BA41C719D2D80C00E73CA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0EE8E3119EF8E3A0044FD11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
